@charset "UTF-8";
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css';
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#error-message {
  display: none; 
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  font-weight: 800;
  text-align: center;
}

html {
    min-height: -80vh;
}
body{
    font-family: 'Helvetica Neue', sans-serif !important;   
    background: linear-gradient(-21.11deg, #00c0fa 30%, #015eea);
    background-size: 100% 100vh;
    background-attachment: fixed; /* add this line */
    height: 100vh;
    overflow-y: auto; /* add a scrollbar if the content exceeds the height */
}   


a {
    color: #5ce6ff !important;
    text-decoration: none !important;
    background-color: transparent;
}

.form-hidden {
    display: none;
  }

input ::placeholder {
    word-wrap: break-word; /* Ensures long words will wrap*/
}
/* Example of other elements in the form */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container {
  max-width: 1200px; /* adjust the max-width to your liking */
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px; /* add some space between the form container and the footer */
   min-height: calc(100vh - 100px); /* adjust the value to push the footer down */
}

.container.form-container,.container.output-container {
  height: 100vh;
  width: 100%; /* add this to take up full width */
  max-width: 1200px; /* adjust the max-width to your liking */
  margin: 0 auto; /* add this to center the elements */
  padding: 20px; /* add some padding for better layout */
}

.form-container, .output-container, #error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 51px;
  padding: 20px;
}

/* Add Bootstrap classes to center the sections */
.form-container, .output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#Formulir1, #Formulir2 {
  background: linear-gradient(-21.11deg, #00c0fa 30%, #015eea);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width:61vw;
}

.output-container {
  background: linear-gradient(-21.11deg, #015eea 30%,  #00c0fa);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px !important;
}

.icon .img-bg {
    height: 200px;
    width:fit-content;
    position: absolute;
}

.form-left{

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
/* Alert */

 #alert1, #alert2, #alert3, #alertback, #alerthapus1, #alerthapus2{
  color:#ec0064;
  display: none;
 }

/* Transition effect */
.form-left, .form-right img, .output-container {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .form-left.show, .form-right img.show, .output-container.show {
    opacity: 1;
    transform: translateY(0);
  }


#Formulir1.show, #Formulir2.show {

  opacity: 1;
  transform: translateY(0);
}
  
.footer {
  opacity: 0;
  transition: opacity 0.5s; /* add transition effect */
}

.footer.show {
  opacity: 1;
  transition: opacity 0.5s; /* add transition effect */
}

/*.footer .container {
    position: relative;
    bottom: 0;
    display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1px 1px 1px 1px; /* Reduced padding 
  min-height: calc(1vh - 1px); /* 90px adalah tinggi footer
} 
*/
.form-right-load {
  position: fixed;
  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;;
 }

 .form-left, .form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
#loadingIndicator {
  position: relative;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


#loadingIndicator svg, #loadingIndicator2 svg {
  width: 80px;
  height: 80px;
  position: relative;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadingIndicator svg circle, #loadingIndicator2 svg circle {
  width: 80px;
  height: 80px;
  cx: 40;
  cy: 40;
  r: 35;
  fill: none;
  stroke-width: 6;
  stroke: #015eea;
  stroke-linecap: round;
  transform: translate(0, 0); /* removed translate */
  stroke-dasharray: 240; /* updated stroke-dasharray */
  stroke-dashoffset: 240; /* updated stroke-dashoffset */
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%, 100% {
    stroke-dashoffset: 360;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 720;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  display: flex;

  min-height: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #015eea;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  
}
.form-container, .container {
  flex: 1;
}

#form, #output {
min-height: 600px;

}
footer {
  display: block;
  height: 50px; /* adjust the height to your liking */  
}
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  min-height: 0;
  max-width: 1200px; /* adjust the max-width to your liking */
  margin: 0 auto;
  padding:0 0 0 20px;
}
.logo-footer {
display: none;
}



.footer.logo-footer {
  display: block;
  width: 100px;
  height: auto;
  margin: 10px;
}

.footer p {
 margin: 0;
 text-align: start;
 word-wrap: break-word; /* Ensures long words will wrap */
 font-size: calc(0.4rem + 0.5vw);
 color: #fff;
}


.input-group-text {
  display: flex !important;
  align-items: center !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: var(--bs-body-color) !important;
  text-align: center !important;
  white-space: nowrap !important;
  background-color: #00c0fa !important;
  border: var(--bs-border-width) solid #015eea !important;
  border-radius: var(--bs-border-radius) !important;
}

.form-label, .form-text{
color: #ffffff !important;
}
.form-left-title {
  text-align: left;
    margin-bottom: 20px;
    max-width: 100%; /* Ensures the title container doesn't exceed its parent's width */
}

.form-left-title h2 {
    font-weight: 500;
    color: #ffffff;
    font-size: 4vh;
    margin-bottom: 5px;
    word-wrap: break-word; /* Ensures long words will wrap */
}

#text-container {
    overflow: hidden; /* hide excess text */
    text-overflow: ellipsis; /* add ellipsis at the end */
    max-width: 100vh; /* adjust the width to your liking */
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    font-size: 4vh;
    margin: 100px 0 100px 0;
    word-wrap: break-word; /* Ensures long words will wrap */
  }




.form-left-title p{
    font-weight: 600;
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

hr {
opacity: 100% !important;
}

.form-left-title hr{
    border: none;
    width: 5vh;
    height: 5px;
    background-color: #fffb00;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-left-title span{
    color:#ff0000;
}

.form-left span{
    display: flex;
    align-items: center;

    color: #ffffff;
    gap: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 6;    
}
.form-input {
  width: 70vh;
  height: 55px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #374955;
  border-radius: 50px;
  transition: border-color .3s ease-in-out, transform .3s ease-in-out;
}

.form-input:focus{
    border: 2.5px solid #7F3E6D !important;
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
    
}


.form-input:focus::after {
    transform: scaleX(1);
}

.form-input:focus::after {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .35s;
}


/* Hide spinners for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Back Button */
.back-to-history {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-left: 0;
    width: 64px;
    cursor: pointer;
  }
  
  
  .back-to-history  div{
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px 0 0px 0px!important;
  }
  
  
  
  .back-to-history span {
    color: #f3f3f3;
  }
  .back-to-history svg {
    fill: #f3f3f3;
  }
  
  .back-to-history svg {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 100%; /* make sure the dropdown content doesn't exceed the parent's width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100.25vw;
    margin-top: 10px;
    padding: 10px; /* add some padding to make the content more readable */
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 200000; /* bring the dropdown content to the front */
  }
  
  .dropdown.form-input:focus + .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    z-index: 1000;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: #374955 !important;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    z-index: 1000;
  }
  


.dropdown.form-input:focus + .dropdown-content {
  display: block;
  z-index: 1000;
}


.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #436074;
  z-index: 1000;
}

.dropdown-content a:hover {
  z-index: 1000;
  background-color: #f1f1f1;
}
  
  
  
.switch-toggle {
  width: 65px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  border-radius: 50px;
  padding: 0 5px;
  cursor: pointer;
}
.form-input::placeholder{
    color: #436074;
}

.form-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.button-left, .button-right{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.buttonID, .form-left-title .buttonID {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2%; /* Menggunakan persentase sebagai pengganti px */
  z-index: -1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 80vw; /* Menggunakan vw sebagai pengganti vh */
  max-width: 600px; /* Menambahkan max-width untuk mencegah lebar yang terlalu besar */
}

.form-left button, .form-left-title button{
    display: flex;
    align-items: center;    
    justify-content: center; /* Add this property */
    text-align: center; /* Add this property */
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #2c4091, #3A85C6);
    cursor: pointer;
    position: relative;
    z-index: 6;
}


#backButton {
  background: linear-gradient(270deg, #5B99C2, #1A4870);
}

.btn-reset {
  background:none !important;
  border-radius: 10px;
}

.progressBar{
    border: none;
    height: 5px;
    background-color: #4DDDA4;
}

.btn-submit svg, .form-left-title .btn-submit svg, .btn-reset svg, .btn-back svg{
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
}


.btn-submit .btn, .form-left-title .btn-submit .btn, .btn-reset .btn, .btn-back .btn {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 30px;
    color: #fff;
    white-space: nowrap;
    padding: 7px 10px;
    transform: translateY(-50%);
    font-size: 0.95rem;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: margin-left 0.3s ease;
  }


.btn-submit, .form-left-title .btn-submit, .btn-reset, .btn-back{
    overflow: hidden;
}

.btn-submit svg, .form-left-title .btn-submit svg, .btn-reset svg, .btn-back svg{
    z-index: 99;
    transition: transform .55s
}
.btn-submit p, .form-left-title .btn-submit p, .btn-reset p, .btn-back p{
    z-index: 99;
    transition: transform .55s;
    margin: 0;
}


.btn-submit::after, .form-left-title .btn-submit::after, .btn-reset::after, .btn-back::after{
    content: '';
    background: #ec00628a; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .35s;
}

.btn-submit:hover::after, .form-left-title .btn-submit:hover::after, .btn-reset:hover::after, .btn-back:hover::after{
    transform: scaleX(1);
}

.btn-submit:hover svg, .form-left-title .btn-submit:hover svg, .btn-back:hover svg{
    transform: scale(1.1);
}

.btn-submit:hover p, .form-left-title .btn-submit:hover p, .btn-back:hover p{
    transform: scale(1.1);
    color: #ffffff;   
}

/* Add this class to reset the styles */
.btn-submit.clicked, .form-left-title .btn-submit.clicked, .btn-reset.clicked {
  /* Reset the ::after pseudo-element */
  &::after {
    transform: scaleX(0);
  }
  /* Reset the SVG and text */
  svg, p {
    transform: scale(1);
  }
}

.form-left button img, .form-left-title button img {
    height: 15px;
    color: #ffffff
}
.img-wrapper {
  overflow: hidden;
}
.logo-header, .logo-output {
  position: static;
  pointer-events: none;
}
.form-right img{
  position: static;
    width: 30vh;
}
@media (max-width:1500px) {
    .footer p {
        font-size: 0.9rem;
        bottom: auto;
      }
      
}

@media (max-width:1420px) {
    .form-right img{
        width: 26vh;
    }
    #text-container {
      max-width: 75vh;
  }
   
}

@media (max-width:1020px) {
    .form-right img{
        width: 20vh;
    }
    
}

@media (max-width: 889px){
#text-container {
      max-width: 60vh;
  }

}

@media (max-width:985px) {
    .form-input{
        width:80vw;
    }
    .footer p {
        font-size: 0.7rem;
      }
    .form-left-title h2{
        font-size: 1.8rem;
    }
    #text-container {
      max-width: 55vh;
  }

    .form-left-title p{
        font-size: 0.7rem;
    }
    
    .form-right-load{
      display: flex;
    }
    .footer {
      bottom: 0;
      width: 100%;
    }
   .footer.container {
      flex-direction: column;
      align-items: center;
    }
   .footer img {
      width: 50px;
      height: auto;
      margin: 10px;
    }

    .form-container, .output-container {
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    
    .justify-content-center{
      padding: 15px;
     }
    #text-container {
      text-align: left;
    }
    .form-left, .form-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      padding: 20px;
    }
    .form-container img, .output-container img {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
    }

    .img-bg{
        display: none;
    }
    .container {
      padding: 10px;
    }
}

@media (max-width:490px) {
    
  .logo-header, .logo-output{
  display: none !important;
  }
  .output-container > .form-right {
    display: none;
  }
  .logo-footer {
  display: block;
  }
    .form-left-title h2 {
      font-size: 6vw;
  }
  #text-container {
    max-width: 45vh;
}
    .btn-submit svg, .form-left-title .btn-submit svg, .btn-reset svg{
      width: 0.6rem;
    height: 0.6rem;
    }
      .buttonID p {
        font-size: 0.8rem !important;
        }
    .form-input{
        width:85vw;
    }
    .footer {
      padding: 10px 0;
    }
   .footer p {
      font-size: 12px;
    }
   .footer img {
      width: 30px;
      height: auto;
      margin: 10px;
    }

    .form-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
    .justify-content-center{
      padding: 15px;
     }
    
    .output-container{
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
    .form-left, .form-right {
      flex: 1;
      display: flex;
      flex-direction: column;      
      align-items: flex-start;
      justify-content: center;
      padding: 20px;
    }
    .form-left-title p{
        font-size: 3vw;
    }
    .form-left-title hr{
        width: 20vw;
    }

    .icon .img-bg{
        height: 100px;
    }
    .form-right img{
        width: 100px;
        display: flex;
        align-items: center;
        position: sticky;
        transform: translateY(35px);
        bottom:10px;
    }

    .container {
      padding: 5px;
    }
}

@media (max-width:490px) {
  #text-container {
    max-width: 35vh;
}

}
@media (max-width: 767px) {
    .btn-submit svg, .form-left-title .btn-submit svg, .btn-reset svg{
      width: 1rem;
    height: 1rem;
    }
    .buttonID p {
    font-size: 0.8rem;
    }
    
    .buttonID, .form-left-title .buttonID {
      flex-wrap: wrap;
    }
    .button-left, .button-right{
      justify-content: center;
    }
}
