*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background: linear-gradient(#40BAE2, #4BA4E1);
}

.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}



.bg{
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 1px;
}

.form-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.form-left-title h2{
    font-weight: 600;
    color: #F8B900;
    font-size: 40px;
    margin-bottom: 5px;
}

.form-left-title p{
    font-weight: 600;
    color: #cae8ff;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #4DDDA4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-left-title span{
    color:#ff006a;
}

.form-left span{
    display: flex;
    align-items: center;

    color: #ffffff;
    gap: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 6;    
}
.form-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #374955;
    border-radius: 50px;
}

.form-input:focus{
    border: 2.5px solid #7F3E6D;
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
    
}


.form-input:focus::after {
    transform: scaleX(1)
}

.form-input:focus::after {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .35s;
}




.form-input::placeholder{
    color: #436074;
}

.form-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}


.form-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #6376C1, #3A85C6);
    cursor: pointer;
    position: relative;
    z-index: 6;    
}


.progressBar{
    border: none;
    height: 5px;
    background-color: #4DDDA4;
}

.btn-submit svg{
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
}

.btn-submit .btn{
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 30px;
    color: #fff;
    white-space: nowrap;
    padding: 7px 10px;
    transform: translateY(-50%);
    font-size: .95rem;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: margin-left .3s ease
}


.btn-submit {
    overflow: hidden
}

.btn-submit svg {
    z-index: 99;
    transition: transform .55s
}
.btn-submit p {
    z-index: 99;
    transition: transform .55s
}



.btn-submit::after {
    content: '';
    background: #ec00628a; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .35s;
}

.btn-submit:hover::after {
    transform: scaleX(1)
}

.btn-submit:hover svg {
    transform: scale(1.1)
}

.btn-submit:hover p {
    transform: scale(1.1)
}

.form-left button img {
    height: 15px;
    color: #ffffff
}

.form-right img{
    width: 500px;
}

@media (max-width:1020px) {
    body {
        padding: 10px;
        margin: 37px;
    }
    .form-right img{
        width: 250px;
    }

}
@media (max-width:800px) {
    body {
        padding: 10px;
        margin: 37px;
    }
    .form-input{
        width:80vw;
    }
    
    .form-left-title h2{
        font-size: 5vw;
    }

    .form-left-title p{
        font-size: 2.5vw;
    }
    .form-left-title hr{
        width: 20vw;
    }
    
    .form-right img{
        width: 100px;
        display: flex;
        align-items: center;
        position: sticky;
        transform: translateY(-25px);
        bottom:10px;
    }
    

    .form-container {
        display: grid;
        align-items: center;
        align-content: space-evenly;
        justify-items: center;
    }
    .form-container img {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .bg{
       display: none;
    }
}

@media (max-width:490px){
    body{
        padding: 10px;
        margin: 37px;
    }
    .form-input{
        width:80vw;
    }

    .form-container {
        display: grid;
        align-items: center;
        align-content: space-evenly;
        justify-items: center;
    }
    .form-left-title h2{
        font-size: 10vw;
    }

    .form-left-title p{
        font-size: 5vw;
    }
    .form-left-title hr{
        width: 20vw;
    }


    .form-right img{
        width: 100px;
        display: flex;
        align-items: center;
        position: sticky;
        transform: translateY(35px);
        bottom:10px;
    }
}